*{
	margin: 0;
	padding: 0;
	background: #efef;
	color: #777;
	font-family: Times New Roman;

}

.insidebox{
position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 400px;
	padding: 40px;
	background-color: #fff;
	box-sizing: border-box;
	box-shadow: 0 15px 25px;
	border-radius: 10px;
	transition: 0.5s ease;
}
.login h1{
	margin: 0 0 30px;
	padding: 0;
	color:  black;
	text-align: center;
	background-color: #fff;
}

input[type = "text"],
input[type = "password"]
{
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: pink;
	margin-bottom: 30px;
	background: transparent;
}
.btn{
	position: absolute;
	
}
/*.btn1 a{
	margin-left: 35%;
	background-color: red;
	color: white;
	font-size: 20px;
	border: none;
	cursor: pointer;
}
.btn1 a:hover{
	box-shadow: 0 14px 18px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	background-color: rgba(255,0,0,0.6);
	transition: 1s ease;
}*/
.sep{
	position: absolute;
	margin-top: 20%;
}
.insidebox a{
	text-decoration: none;
	padding:  8px 26px;
	top: 20%;
	margin-left: 35%;
	background-color: blue;
	color: white;
	font-size: 20px;
	border: none;
	cursor: pointer;
}
.btn2{
	margin-top: 20px;
	margin-left: 35%;
	background-color: blue;
	color: white;
	padding: 8px 26px;
	font-size: 20px;
	border: none;
	cursor: pointer;
}

.btn2:hover{
	box-shadow: 0 14px 18px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	background-color: rgba(255,0,0,0.6);
	transition: 1s ease;
}


input[type = "submits"]
{
	margin-bottom: 28px;
	margin-left: 30%;
	text-align: center;
	width: 128px;
	height: 32px;
	background: blue;
	border: none;
	border-radius: 2px;
	color: #fff;
	font-family: sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	transition: 0.25 ease;
	cursor: pointer;
}
input[type = "submit"]:hover
{
	background: rgba(255,0,0,0.6);
	transition: 0.4s ease;
	cursor: pointer;
}
input[type = "submits"]:hover
{
	background: rgba(0,0,255,0.6);
	transition: 0.4s ease;
	cursor: pointer;
}